/temporary
/trash
*untitled*
__pycache__/
foo.csv
/catiafiles/meshfiles
/catiafiles/sourcefiles
/abaqusfiles
Task-1*
Task-BC*
abaqus.rpy*
layout.html

/catiafiles/braidfiles
/pamrtm
*currentProgress.txt
abaqus1.rec
excursor.py
abaqus_acis.log
/pamrtm/mainSimFiles
