/temporary/*
!/temporary/README.txt
/trash/*
!/trash/README.txt
*untitled*
__pycache__/
foo.csv
/catiafiles/meshfiles/*
!/catiafiles/meshfiles/README.txt
/catiafiles/sourcefiles/*
!/catiafiles/sourcefiles/README.txt
/abaqusfiles/*
!/abaqusfiles/README.txt
Task-1*
Task-BC*
abaqus.rpy*
layout.html

/catiafiles/braidfiles/*
!/catiafiles/braidfiles/README.txt
/pamrtm/mainSimFiles/*
!/pamrtm/mainSimFiles/README.txt
*currentProgress.txt
abaqus1.rec
*sql_config.txt
abaqus_acis.log
*braid_data.csv
avl.exe
*.npy*
*.csv*
*JK.avl*