bokeh==1.3.4
configparser==4.0.2
lhsmdu==0.1
numpy==1.18.1
pandas==0.25.1
PyAutoGUI==0.9.48
pyodbc==4.0.27
PySimpleGUI==4.15.2
pywin32==223
scikit-image==0.15.0
scikit-learn==0.21.3
scipy==1.3.1
sklearn==0.0

